.videos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
   }
   
   
   .video video {
    transition: .4s;
    max-width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
   }
   
   .video {
    overflow: hidden;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
     background-color: var(--header-bg-color);
    cursor: pointer;
    &:hover .video-time {
     opacity: 0;
    }
    &:hover video {
     transform: scale(2.2);
     transform-origin: center;
    }
    &:hover .view {
     padding: 10px;
    }
   }
   
   .video-time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 15px;
    font-size: 12px;
    color: #fff;
    bottom: 80px;
    right: 6px;
    transition: .3s ease-in;
   }
   
   
   .video-content {
    width: 100%;
    color: var(--main-color);
    padding: 15px 10px 0;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   } 
   
   .view {
    padding: 10px;
    position: relative;
    background-color: var(--header-bg-color);
    z-index: 1;
    font-size: 13px;
   }